modules = ["nodejs-20", "web"]
run = "start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "start"]

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 40711098
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
